@media(max-width:767398px){
    .navbar-brand img{
        width: 43px;
    }
}


.netflix-padding-left {
    padding-left: 10px !important;
}

/*.netflix-padding-right {
    padding-right: 10px !important;
}*/

.netflix-dropdow-box{
    display: block !important;
}
.netflix-navbar{
    display: block;
    align-items: center;
}
.netflix-navbar button{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.903);
    border: none;
    font-size: 13px;
}
.netflix-navbar button:hover{
    color: white;
}